{% extends 'site_template.html' %}

{% block body %}

<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-home"></i> Work104
                <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
                <li class="active">
                    <a href="/forms"><i class="fa fa-fw fa-search"></i> 104 搜尋</a>
                </li>
                <li>
                    <a href="/history"><i class="fa fa-fw fa-history"></i> 搜尋紀錄</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    104 搜尋
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="/">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-edit"></i> 104 搜尋
                    </li>
                </ol>
            </div>
        </div>

        <div class="row">
            <form role="form" method="POST">
                <div class="col-lg-6 text-left">
                    <div class="form-group">
                        <label>國家/洲</label>
                        <select id="country" name="country" onchange="changeCountry(this.selectedIndex)"
                            class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label>地區</label>
                        <select id="area_name" name="area_name" class="form-control"></select>
                    </div>     

                    <div class="form-group">
                        {% if error_msgs  %}    
                        <label>頁數</label><label style="color:red">&nbsp;&nbsp;&nbsp;*{{ error_msgs }}</label>
                        {% else %}
                        <label>頁數</label>
                        {% endif %}
                        <input id="page" type="page"" name="page" class="form-control" placeholder="請輸入頁數">
                    </div>             
                   
                    <div class="form-group">
                        {% if error_msgs  %}    
                        <label>關鍵字</label><label style="color:red">&nbsp;&nbsp;&nbsp;*{{ error_msgs }}</label>
                        {% else %}
                        <label>關鍵字</label>
                        {% endif %}
                        <input id="keyword" type="keyword" name="keyword" class="form-control" placeholder="請輸入關鍵字">
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">提交</button>
                    </div>
                </div>
            </form>
            <div class="col-lg-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label>使用紀錄: </label>
                    </div>

                    <div style="max-height: 350px; max-width: col-lg-8; width: col-lg-8; overflow: auto">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr style="background-color:#d9d9d9">
                                    <th style="text-align:center">關鍵字</th>
                                    <th style="text-align:center">頁數</th>
                                    <th style="text-align:center">國家</th>
                                    <th style="text-align:center">地區</th>
                                    <th style="text-align:center">搜尋日期</th>
                                    <th style="text-align:center">搜尋時間</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for record in df_history %}
                                <tr>
                                    <td>{{record.keyword}}</td>
                                    <td>{{record.page}}</td>
                                    <td>{{record.country}}</td>
                                    <td>{{record.area}}</td>
                                    <td>{{record.create_date}}</td>
                                    <td>{{record.create_time}}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>                
            </div>            
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


<script type="text/javascript">
    var countries = ['Taiwan', 'China', 'Asia', 'Australia', 'America', 'South America', 'Europe', 'Africa'];
    var countrySelect = document.getElementById("country");
    var inner = "";
    for (var i = 0; i < countries.length; i++) {
        inner = inner + '<option value=' + i + '>' + countries[i] + '</option>';
    }
    countrySelect.innerHTML = inner;


    var sectors = new Array();
    sectors[0] = ['台北市 ', ' 新北市', '宜蘭縣', '基隆市', '桃園市', '新竹縣市 ', '苗栗縣', '台中市', '彰化縣', '南投縣', '雲林縣', '嘉義縣市', '台南市', '高雄市', '屏東縣', '台東縣', '花蓮縣', '澎湖縣', '金門縣', '連江縣'];
    sectors[1] = ['全部', '北京市', '天津市', '上海市', '重慶市', '廣東省', '浙江市', '杭州市'];
    sectors[2] = ['全部'];
    sectors[3] = ['全部'];
    sectors[4] = ['全部']
    sectors[5] = ['全部'];
    sectors[6] = ['全部', '北歐', '南歐', '東歐', '中歐'];
    sectors[7] = ['全部'];

    function changeCountry(index) {
        var Sinner = "";
        for (var i = 0; i < sectors[index].length; i++) {
            Sinner = Sinner + '<option value=' + i + '>' + sectors[index][i] + '</option>';

        }
        var sectorSelect = document.getElementById("area_name");

        sectorSelect.innerHTML = Sinner;


    }
    changeCountry(document.getElementById("country").selectedIndex);
</script>
{% endblock %}

